<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/note/">Bine</a>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#/book/">노트</a>
                <li><a href="#/book/">책</a></li>
                <li><a href="#/friend">친구</a></li>
            </ul>
        </div>
        <div class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="책 검색">
						<span class="input-group-btn">
							<button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
						</span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>


<div class="row main-content">
    <div class="col-md-2 left-panel">
        <div class="list-group">
            <a href="#/note/new/" class="list-group-item list-item-bottom-double">독서노트 작성</a>
            <a href="" class="list-group-item active">자기 목록 보기</a>
            <a href="" class="list-group-item">친구 목록만 보기</a>
            <a href="" class="list-group-item">새로운 답글이 있는 목록만 보기</a>
        </div>
    </div>
    <div class="col-md-10 right-panel">
        <div class="row note-list-row">
            <div class="col-xs-12 panel panel-default note-panel"
                 ng-repeat="note in notes">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="#/note/{{ note.id }}">{{ note.book.title }}</a></h4>
                </div>
                <div class="panel-body note-panel-body">
                    <a href='#/note/{{ note.id }}'> <img class="book-photo"
                                                         ng-src="{{ note.book.photo }}" align="right" width='120px'
                                                         height='200px'>
                    </a>

                    <div class='note-info'>
                        <span class="glyphicon glyphicon-time"></span>
                        <span>{{ note.created_at | date:"yyyy-MM-dd h:mm a" }}</span> |
                        <span
                            ng-bind-html="make_html_preference(note.preference)"></span> |
                        <span>{{ make_html_share(note.share_to) }}</span> |
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                        <a href="" ng-click="update_likeit(note)">좋아요({{ note.likeit }})</a>
                        <span ng-bind-html="make_html_attach(note.attach)"></span>
                    </div>
                    <p class='note-content'>{{ note.content | truncate: 256 }}</p>
                </div>
                <div class="panel-footer">
                    <!-- Single button -->
                    <div class="btn-group pull-right note-submenu">
                        <a class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown"
                           aria-expanded="false">
                            <span class="glyphicon glyphicon-option-vertical"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#/note/{{ note.id }}">자세히 보기</a></li>
                            <li><a href="#/note/{{ note.id }}">친구들 독후감 보기</a></li>
                            <li class="divider"></li>
                            <li><a href="" ng-click="edit_note(note)">수정</a></li>
                            <li><a href="" ng-click="delete_note(note, $index)">삭제</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>