.panel, .form-control, .btn {
	border-radius: 2px;
}
.panel-heading {
	border:0px;
	border-radius:0px;
}
.register .form-control-static {
	float: left;
	font-size: 16px;
    color: #555;
    margin-top: 4px;
    margin-right: 15px;
}

.register .birthday-control {
	width: auto;
	float: left;
	margin-top: 4pt;
	margin-bottom: 4pt !important;
	margin-right: 2pt;
}

.register button[type='submit'] {
	width:auto;
}

.register .glyphicon-info-sign {
	color: #FF4081;
}
 
.register .error-msg {
	margin-top: 6px;
	margin-left: 6px;
}
/*
.register form {
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
  margin-bottom: 10px;

  font-weight: normal;
  text-shadow: none;
}

.register .form-group {
  position: relative;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
    
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.register .form-control {
	padding: 4px;
	font-size: 12pt;
	border-width: 0px;
}

.register .form-control:focus {
  z-index: 2;
}

.register .help-block {
	display: none;
	text-align: left;
	margin-left: 10px;
	color: red;
}

.register .panel-caption {
	margin-top: 0px;
	margin-bottom: 0px;
}

.register .birthday {
  display:compact !important;
}

.register .form-box-top {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.register .form-box-middle {
  margin-bottom: -1px;
  border-radius: 0px;
}

.register .form-box-middle .form-control {
  margin-bottom: -1px;
  border-radius: 0px;
}

.register .form-box-bottom {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.register .btn-sex {
	border: 1px solid #ccc;
	margin-top: 4px;
	margin-bottom: 4px;
}

.register .btn-sex:hover {
	border: 1px solid #ccc;
	background-color: #e6e6e6;
}

.register .popover-content {
	color: #FF4081;
}

.register .birthday-control {
	border: 1px solid #ccc;
	width: auto;
	float: left;
	margin-top: 4pt;
	margin-bottom: 4pt !important;
	margin-right: 2pt;
}

.register .form-control-static {
	float: left;
	font-size: 16px;
    color: #555;
    margin-top: 4px;
    margin-left: 10px;
    margin-right: 15px;
}
*/