.friend-panel {
    border-radius: 2px;
    margin-bottom: 8px;
}

.friend-panel .panel-title {
    font-weight: bold;
}

.friend-panel > .friend-panel-body > .friend-info {
    font-size: 9pt;
    color: #595959;
}

.friend-panel .friend-photo {
    padding: 4px;
    width: auto;
    height: 80px;
}

.friend-panel > .friend-panel-body > .friend-content {
    margin-top: 4px;
    margin-bottom: 4px;
}

.friend-panel > .panel-heading {
    background-color: white;
    border-bottom: none;
    font-size: 18pt;
    overflow: hidden;
    text-overflow: ellipsis;
}

.friend-panel > .panel-footer {
    background-color: white;
}

.friend-panel > .panel-body {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 8px;
}

.user-photo {
    width: 40px;
    height: 40px;

    border: 1px solid #777;
    color: #e7e7e7;
    border-radius: 50%;

    padding: 2px;

}
