@media screen and (max-width: 480px) {
    .menu_caption {
        display: none;
    }

    .search-icon-only {
        display: inline;
    }
}

@media screen and (min-width: 481px) {
    .menu_caption {
        display: inline;
    }

    .search-icon-only {
        display: none;
    }
}

.container-fluid .navbar {
    margin-left: -8px;
    margin-right: -8px;
}

.navbar-brand {
    font-size: 22px;
    font-weight: bold;
    margin-right: 30px;
}

.navbar-nav > li {
    font-size: 16px;
}

/* 화면이 모바일 크기로 줄어들었을 때 책 검색 input box가 다음 줄로 가는 것을 방지하는 기능*/
.navbar-form .form-control, .navbar-form .input-group-btn {
    width: auto !important;
}

.navbar .form-group {
    margin-bottom: 0;
}

/* 모바일 화면에서 서브 메뉴을 위한 스타일 */
.float-menu {
    padding: 14px;
    color: white;
    font-size: 16px;
    z-index: 1;
    width: 40px;
    height: 40px;
}

/*
    Active인 메뉴 표시
*/
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    border-bottom: solid 3px white;
}

.list-container {
    background: #fff;
    border-radius: 4px;
}

.list-title {
    margin-left: 4px;
    margin-bottom: 20px;
    border-bottom: solid 1px #ddd;
    padding-bottom: 8px;
}

.list-item {
    margin-bottom: 8px;
    border: none;
}

.list-item > .panel-heading {
    background-color: white;
    border-bottom: none;
}

.list-item .panel-title {
    font-size: 12pt;
    font-weight: bold;
    text-overflow: ellipsis;
}

.list-item > .panel-footer {
    background-color: white;
    border-top: none;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
}

.list-item > .panel-body {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.list-item .panel-detail {
    font-size: 9pt;
    color: #595959;
}

.list-item .panel-content {
    margin-top: 6px;
    margin-bottom: 4px;
    font-size: 14px;
}

.list-item .book-photo {
    padding: 4px 4px 4px 8px;
    width: auto;
    height: 100px;
}

.note-new-panel {
    margin-top: 10px;
}

.book-search-modal .book-photo {
    width: 72px;
    height: 100px;
}

.book-search-modal .book-caption {
    font-size: 10px;
    color: #595959;
    text-align: center;
}

.book-search-modal .book-caption .book-title {
    font-size: 12px;
    margin-bottom: 2px;
}

.book-search-modal .row {
    margin-top: 10px;
}

.book-search-modal .thumbnail {
    background: white;
    border: 0;
}