<div class="row">
   	<ul class="col-sm-12 nav nav-pills submenu">
   		<li role="presentation" class="dropdown  pull-right">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
     정렬 <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
		<li role="presentation"><a role="menuitem" tabindex="-1" href="#">최신 날짜순</a></li>
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">답글 많은 순</a></li>
    </ul>
		</li>
		<li role="presentation" class="dropdown pull-right">
		    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
		      보기 <span class="caret"></span>
		    </a>
    <ul class="dropdown-menu" role="menu">
    	<li role="presentation" class="active"><a role="menuitem" tabindex="-1" href="#">친구 노트 포함</a></li>
		<li role="presentation"><a role="menuitem" tabindex="-1" href="#">자기 노트만</a></li>
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">새 답글 노트만</a></li>
	    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">새 노트만</a></li>
    </ul>
		</li>
		<li role="presentation" class="pull-right"><a href="#/note/new/">독서노트쓰기</a></li>	
	</ul>
 </div>
		 
<div class="alert status-box alert-dismissible fade in" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
	<h4><span class="glyphicon glyphicon-info-sign"></span> 알림</h4>
	<p>이도윤님은 이번 주에 <strong>10</strong>권의 책을 읽었습니다.</p>
	<p>목표한 <strong>100</strong>권까지는 이제 <strong>50</strong>권 남았습니다.</p>
	<div class="progress">
	  <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
	    <span class="sr-only">50% 완성</span>
	  </div>
	</div>
</div>

<div class="panel panel-default note-panel" ng-repeat="note in notes">
  <div class="panel-heading">
    <h4 class="panel-title">{{ note.book.title }}</h4>
  </div>
  <div class="panel-body note-panel-body">
  	<a href='#/note/{{note.id}}'> 
	   		<img class="note-book-photo" src='/static/bine/images/book1.jpg' align="right" width='120px' height='200px'>      
		</a>
  	<div class='note-info'>
    	<span class="glyphicon glyphicon-time"></span><span>{{ note.created_at | date:"yyyy/MM/dd h:mm a" }}</span> |
    	<span ng-bind-html="convertPreferenceToHtml(note.preference)"></span> | 
   		<span>{{convertShareToHtml(note.share_to)}}</span> |
   		<span ng-bind-html="showAttachHtml(note.attach)"></span>
   	</div>
    <p class='note-content'>   	
		{{ note.content | truncate: 128 }}
	</p>
  </div>
  <div class="panel-footer">
  	 <a href="" ng-click="update_likeit(note)"><span class="glyphicon glyphicon-heart"></span>좋아요({{note.likeit}})</a> | 
  	 <a href='#/note/{{note.id}}' class='note-reply-view'>답글({{note.replies_count}})</a> | 
  	 <a href="" ng-click="edit_note(note)">수정</a> | 
  	 <a href="" ng-click="delete_note(note, $index)">삭제</a>
  </div>
</div>