<div class='note-detail'>
	<div class="panel panel-default note-panel">
	  <div class="panel-heading">
	    <h4 class="panel-title">{{ note.book.title }}</h4>
	  </div>
	  <div class="panel-body note-panel-body">		
	  	<div class='note-info'>
	    	<span class="glyphicon glyphicon-time"></span><span>{{ note.created_at | date:"yyyy/MM/dd h:mm a" }}</span> |
	    	<span ng-bind-html="make_html_preference(note.preference)"></span> | 
	   		<span>{{make_html_share(note.share_to)}}</span> |
	   		<span ng-bind-html="make_html_attach(note.attach)"></span>
	   		<span></span>
	   	</div>
	   	<a href='#/note/{{note.id}}'> 
		   	<img class="book-photo" src='{{note.book.photo}}' align="right" width='120px' height='200px'>      
		</a>
	    <p class='note-content'>
			{{ note.content}}
		</p>
	  </div>
	  <div class="panel-footer">
	  	<a href=""><span class="glyphicon glyphicon-heart"></span>좋아요({{note.likeit}})</a> |
		<a href="">수정</a> |
		<a href="">삭제</a>
	  </div>
	</div>

	<div class="panel panel-default note-reply">
	  <!-- Default panel contents -->
	  <div class="panel-heading"><span>답글</span> <a class="pull-right" href="" ng-click="create_reply()">답글 작성</a></div>
	  <ul class="list-group">
	    <li class="list-group-item" ng-repeat="reply in replies">
	    	<span class='reply-content'><a href="" ng-click="update_reply(reply)">{{reply.content}}</a></span>
			<span class='reply-user'><span class='glyphicon glyphicon-user'></span>{{reply.user.fullname}}</span>
			<span class='reply-date'><span class='glyphicon glyphicon-time'></span>{{reply.created_at | date:"yyyy/MM/dd h:mm a"}}</span>
			<a href="" ng-click="delete_reply(reply, $index)"><span class='glyphicon glyphicon-trash reply_delete'></span></a>
		</li>
	  </ul>
	</div>
</div>

<!-- New Review Modal -->
<div class="modal fade" id="reply_modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">리뷰작성</h4>
      </div>
      <div class="modal-body">
         <form class="form">
			<textarea class='form-control' rows='3' ng-model="new_reply_content"></textarea>  
		</form>
	 </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" >취소</button>
        <button type="button" class="btn btn-primary" ng-click="save_reply()">저장</button>
      </div>
    </div>
  </div>
</div>